<configuration scan="true" scanPeriod="10 seconds">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{"HH:mm:ss.SSS"} %-15thread %-5level %logger{36} - %msg%n</pattern>
    </encoder>

    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>${LOGLEVEL:-DEBUG}</level>
    </filter>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>

  <logger name="user" level="ALL" />
  <logger name="crank" level="ALL" />
  <logger name="org.apache.kafka" level="WARN" />
  <logger name="org.apache.kafka.clients" level="ERROR" />
  <logger name="org.apache.zookeeper" level="WARN" />
  <logger name="org.I0Itec.zkclient" level="WARN" />
  <logger name="kafka" level="WARN" />
  <logger name="kafka.server.BrokerMetadataCheckpoint" level="ERROR" />
</configuration>
